.numerical-order {
  background-color: #fff;
  width: 30px;
  height: 30px;
  padding: 3px;
}
.image {
  width: 45px;
  height: 30px;
}

.cases {
  height: 50px;
  justify-content: center;
  align-items: center;
}

.test h5,
.test p {
  margin: 0;
}
.info {
  text-align: center;
  justify-content: center;
  align-items: center;
}
